
GoogleSheetDataTable/Assets/DataTable/credentials.json
GoogleSheetDataTable/Assets/DataTable/credentials.json.meta
GoogleSheetDataTable/Assets/DataTable/Editor/credentials.json
TabbySheetUnity/Assets/TabbySheet/Editor/credentials.json
TabbySheetUnity/Assets/TabbySheet/Editor/credentials.json.meta
TabbySheetCore/TabbySheet/bin/Debug
TabbySheetCore/TabbySheet/obj/*
TabbySheetCore/TabbySheet/obj/Debug
